<template name = "custView">

<div class = "col-md-12">
{{#each products}}
		<div class = "col-md-3" >{{> thisProd}}</div>
{{/each}}
</div>

<div class = "col-md-12 pad2"></div>

<div class = "col-md-12"></div>

</template>

<template name = "thisProd">
<button class="prodclick">
<div id="container_box" >

	Name : {{name}}<br>
	Description : {{description}}<br>
	Qty : {{qty}}<br>
	Cost : {{prize}}<br>
	<br>
	{{#if media_file_id}}
		
		<div style="vertical-align: center;">
		 <a href="{{media_file_id.url}}" target="_blank"><img src="{{media_file_id.url}}" alt="" class="thumbnail" style="width:150px;height:200px; " /></a>
		 
	</div>

		{{/if}}


</div>

</button>
<div class = "col-md-12 pad2"></div>

</template>