<template name = "recipe" >
<h1>Recipes : </h1>


<h3>CHOCOLATE TRUFFLES:</h3>
<p1>
Beat the butter and brown sugar with an electric mixer in a large bowl until smooth. Beat in the 

vanilla extract. Add flour, alternately with sweetened condensed milk, beating well after each 

addition. Fold in the chocolate chips and toffee bits; mixing just enough to evenly combine.
</p1>
<p1>
Using a small cookie scoop, make 1-inch balls and place them on waxed paper lined baking 

sheets. Refrigerate until firm, about 1 hour.
</p1>
<p1>
Melt the chocolate coating in a microwave-safe glass or ceramic bowl in 30-second intervals, 

stirring after each melting, for 1 to 3 minutes (depending on your microwave). Do not overheat 

or coating will scorch. Dip the dough balls in the chocolate coating, allowing any excess to drip 

off. Place on waxed-paper lined baking sheets and sprinkle the truffles with additional toffee 

pieces. Refrigerate until firm, about 15 minutes. Store in the refrigerator.

</p1><br><br>

<h3>FUDGE:</h3>

<p1>

Place chocolate chips, sweetened condensed milk, and butter or margarine in large 

microwaveable bowl. 
</p1>
<p1>
Zap in microwave on medium until chips are melted, about 3-5 minute, stirring once or twice 

during cooking. Stir in nuts, if desired.

Pour into well-greased 8x8-inch glass baking dish. Refrigerate until set.
</p1>
<br><br>
<h3>CANDY:</h3>


<p1>
Mix sugar and corn syrup in a microwave-safe glass (or other container). Cover glass with plastic 

wrap and microwave 1 minute.
</p1>
<p1>
Remove plastic wrap carefully to avoid steam. Stir and cover with a new piece of plastic wrap. 

Microwave 1 minute.
</p1>
<p1>
Remove plastic wrap. Add flavoring, coloring, and stir. Pour into hard candy mold and let cool 

completely (nutritional info is based on a 90-piece candy mold, yours may differ). Break apart 

and lightly coat with powdered sugar to keep pieces from sticking.
</p1>
<br><br>
<h3>KENTUCKY BOURBON BALLS:</h3>


<p1>
Place the nuts in a sealable jar. Pour the bourbon over the nuts. Seal and allow to soak 

overnight.
</p1>
<p1>
Mix the butter and sugar; fold in the soaked nuts. Form into 3/4" balls and refrigerate 

overnight.
</p1>
<p1>
Line a tray with waxed paper. Melt the chocolate in the top of a double boiler over just-barely 

simmering water, stirring frequently and scraping down the sides with a rubber spatula to avoid 

scorching. Roll the balls in the melted chocolate to coat; arrange on the prepared tray. Store in 

refrigerator until serving.
</p1>

</template>