<template name = "addUser" > 
<h3>Add Users:</h3><br>
	First Name:	<input type="text" id="fname-register" value=""/>
	Last Name:<input type="text" id="lname-register" value="" autocomplete="off"/>

	Email ID:<input id="email" type="email" placeholder="Email" />
	Password:<input id="pass" type="textarea" placeholder="Password" />
	Role:<select id= "role">
		 <option  value = "admin">Admin</option>
		 <option  value = "manager">Manager</option>
		 <option  value = "chef">Chef</option>
		 <option  value = "employee">Employee</option>
		 <option  value = "customer">Customer</option>
	</select>


	<button class="submitUser">AddUser</button><br>



<h3>List of all the registered users :</h3> <br>
<table width="50%" class="table table-bordered">
<tbody>
<tr>
	<td>Username Or emailID :</td>
	<td>Role :</td>
	<td>First Name :</td>
	<td>Last Name :</td>
</tr>

{{#each Users}}
	{{> allusers}}
{{/each}}
</tbody>
</table>
<br>


</template>


<template name = "allusers" > 
<tr>
{{#if profile.email}}
	<td>{{profile.email}}</td>
{{else}}
<td>--</td>
{{/if}}

	{{#if profile.role}}
	<td>{{profile.role}}</td>
	{{else}}
	<td>--</td>
	{{/if}}

{{#if profile.first_name}}
	<td>{{profile.first_name}}</td>
	{{else}}
	<td>--</td>
	{{/if}}

{{#if profile.last_name}}
	<td>{{profile.last_name}}</td>
	{{else}}
	<td>--</td>
	{{/if}}

	</tr>
</template>

<template name = "allemails" > 

		
</template>