<template name = "addUser" > 
List Of all the registered users : <br>
<table width="50%">
<tr>
	<td>Username Or emailID :</td>
	<td>Role :</td>
</tr>

{{#each Users}}
	{{> allusers}}
{{/each}}

</table>
<br>
	Email ID:<input id="email" type="email" placeholder="Email" />
	Password:<input id="pass" type="textarea" placeholder="Password" />
	Role:<select id= "role">
		 <option  value = "admin">Admin</option>
		 <option  value = "manager">Manager</option>
		 <option  value = "chef">Chef</option>
		 <option  value = "customer">Customer</option>
	</select>


	<button class="submitUser">AddUser</button>

</template>


<template name = "allusers" > 
<tr>
{{#if isAdmin}}
{{#each emails}}
		{{ > allemails}}
{{/each}}		
{{/if}}
	<td>{{profile.role}}</td>

	</tr>
</template>

<template name = "allemails" > 

		<td>{{address}}</td>
</template>