<template name = "orderSch" >
<h2>Order History</h2>


<table width="100%" class="table table-striped">
<tbody>
<tr>
	<td>Name</td>
	<td>QtyNeeded</td>
	<td>Special Note</td>
	<td>Date</td>
	
</tr>

{{#each orders}}
	{{ > eachOrder2}}
{{/each}}

</tbody>
</table>

</template>


<template name = "eachOrder2">
<tr>
<td>(Order ID :: {{_id}} )</td>
	<td>---</td>
	<td>---</td>
	
	<td>{{date}}</td>
	
</tr>
	{{#each products}}
 		{{> eachproduct2}}
 {{/each}}
</template>


<template name = "eachproduct2">


	<tr>
	<td>{{nam}}</td>
	<td>{{qty}}</td>
	<td>{{note}}</td>

	</tr>


</template>
