<template name="mainLayout">
<nav class="main-nav navbar navbar-default">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="maintitle">


<img id = "logo" height="100px" name="slide" src="images/logod.png" width="150px" />

</div>



<div class="container" >

<div class="navbar-header" style="float: right; margin-right : 100px;">
			
				
			
		<ul class="nav navbar-nav "  >

		
			
		
		{{#if bool1}}
			<li ><a href="{{pathFor 'addProduct'}}"
				class="{{isActiveRoute regex='addProduct'}}">Add Product</a></li>
		{{/if}}		

		{{#if bool2}}
			<li ><a href="{{pathFor 'addUser'}}"
				class="{{isActiveRoute regex='addUser'}}">Employee-Management</a></li>
		{{/if}}		

		{{#if bool3}}
			<li ><a href="{{pathFor 'viewProduct'}}"
			class="{{isActiveRoute regex='viewProduct'}}">Edit-Products</a></li>
		{{/if}}	

		{{#if bool4}}
			<li ><a href="{{pathFor 'prodSch'}}"
			class="{{isActiveRoute regex='prodSch'}}">ProductionSchedule</a></li>
		{{/if}}	

		{{#if bool5}}
			<li ><a href="{{pathFor 'supplyOrder'}}"
			class="{{isActiveRoute regex='supplyOrder'}}">SupplyOrder</a></li>
		{{/if}}	

		{{#if bool6}}
			<li ><a href="{{pathFor 'reports'}}"
			class="{{isActiveRoute regex='reports'}}">Reports</a></li>
		{{/if}}	

			<li ><a href="{{pathFor 'custView'}}"
			class="{{isActiveRoute regex='custView'}}">View Products</a></li>

			<li ><a href="{{pathFor 'customMenu'}}"
			class="{{isActiveRoute regex='customMenu'}}">CustomOrder</a></li>

			{{#if currentUser}}
			<li ><a href="{{pathFor 'userDash'}}"
			class="{{isActiveRoute regex='userDash'}}">userDash</a></li>
			{{/if}}

		{{#if bool7}}
			<li ><a href="{{pathFor 'recipe'}}"
			class="{{isActiveRoute regex='recipe'}}">Recipe</a></li>
		{{/if}}	

			{{#if currentUser}}
			<li><a id="sign-out" href="{{pathFor 'login'}}"><b>SignOut</b></a></li>
			{{else}}
			<li><a id="sign-out" href="{{pathFor 'login'}}"><b>Login</b></a></li>
			{{/if}}


			
			{{#if currentUser}}
			<li><a href="{{pathFor 'checkOut'}}"
			class="{{isActiveRoute regex='checkOut'}}">
				<button class="cart"><img src="/images/cart.jpg" width="60px" height="50px"> 
				</button></a>

			</li>
			{{/if}}

		</ul>
		
</div></div>

</nav>




{{> yield}}


</template>