.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #a8a8a8;
	margin-bottom: 10px;


}

#logo{
	padding-top: 20px;
	padding: 5px;
}
.main-nav{

	background-color: #4E2E28;
}
.logo{
	float: left;
}
.log{
	margin-top: 14px;
}
.maintitle{
	margin-left:20px;
}

.pad{
	padding-top: 20px;
}

.pad2{
	padding-top: 50px;
}

body{
	background-color: #ffdc99; 
}
