<template name = "userDash">
You Older History:
<table width="100%">

<tr>
	<td>Name</td>
	<td>Prize</td>
	<td>QtyNeeded</td>
	<td>Special Note</td>
</tr>
 
 {{#each order}}
 	

 		{{> eachorder}}
 	
 {{/each}}

</table>
</template>

<template name = "eachorder">
<tr>(Order ID :: {{orderID}} )</tr>
	{{#each products}}
 		{{> eachProd}}
 {{/each}}
</template>


<template name = "eachProduct">
{{nam}}
{{#if custom}}
	<tr>
	<td>{{nam}}</td>
	<td>{{prize}}</td>
	<td>{{qty}}</td>
	<td>{{note}}</td>
	</tr>
{{else}}

	<tr>
	<td>{{nam2}}</td>
	<td>{{cost}}</td>
	<td>{{qty}}</td>
	<td>{{note}}</td>
	</tr>

{{/if}}

</template>


