<template name = "userDash">
<h2>Welcome : {{currentUser.profile.first_name}} . {{currentUser.profile.last_name}}</h2><br>
<h4>Role: {{currentUser.profile.role}}</h4>
Edit your Profile <a href="{{pathFor 'editUser'}}">here</a><br><br>
You Older History:
<table width="100%">

<tr>
	<td>Name</td>
	<td>Prize</td>
	<td>QtyNeeded</td>
	<td>Special Note</td>
</tr>
 
 {{#each order}}
 	

 		{{> eachorder}}
 	
 {{/each}}

</table>
</template>

<template name = "eachorder">
<tr>(Order ID :: {{orderID}} )</tr>
	{{#each products}}
 		{{> eachProd}}
 {{/each}}
</template>


<template name = "eachProduct">
{{nam}}
{{#if custom}}
	<tr>
	<td>{{nam}}</td>
	<td>{{prize}}</td>
	<td>{{qty}}</td>
	<td>{{note}}</td>
	</tr>
{{else}}

	<tr>
	<td>{{nam2}}</td>
	<td>{{cost}}</td>
	<td>{{qty}}</td>
	<td>{{note}}</td>
	</tr>

{{/if}}

</template>


